.attractions-me-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-teal);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920px;
  height: 94px;
}
.bespeakcom-is-part9,
.copyright-2024-20249 {
  position: absolute;
  bottom: 213px;
  left: 364px;
  font-weight: 300;
}
.copyright-2024-20249 {
  bottom: 324px;
  left: 73px;
}
.discover5,
.support10 {
  position: absolute;
  top: 0;
}
.support10 {
  left: 0;
}
.discover5 {
  left: calc(50% - 491.5px);
}
.terms-and-settings5 {
  left: calc(50% - 45.5px);
}
.about6,
.partners6,
.terms-and-settings5 {
  position: absolute;
  top: 0;
}
.partners6 {
  left: calc(50% + 333.5px);
}
.about6 {
  right: 142px;
}
.coronavirus-covid-195 {
  position: absolute;
  top: 67px;
  left: 0;
}
.genius-loyalty-programme5 {
  position: absolute;
  top: 67px;
  left: calc(50% - 491.5px);
}
.extranet-login8,
.privacy-cookies5 {
  position: absolute;
  top: 67px;
  left: calc(50% - 45.5px);
}
.extranet-login8 {
  left: calc(50% + 333.5px);
}
.about-bespeak8 {
  position: absolute;
  top: 67px;
  right: 36px;
}
.faqs5,
.seasonal-and-holiday8 {
  position: absolute;
  top: calc(50% - 119px);
}
.faqs5 {
  left: 0;
}
.seasonal-and-holiday8 {
  left: calc(50% - 491.5px);
}
.terms-and-conditions5 {
  left: calc(50% - 45.5px);
}
.how-we-work9,
.partner-help8,
.terms-and-conditions5 {
  position: absolute;
  top: calc(50% - 119px);
}
.partner-help8 {
  left: calc(50% + 333.5px);
}
.how-we-work9 {
  right: 52px;
}
.manage-your-trips5 {
  position: absolute;
  top: calc(50% - 52px);
  left: 0;
}
.travel-articles5 {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 491.5px);
}
.list-your-property32,
.partner-dispute8 {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 45.5px);
}
.list-your-property32 {
  left: calc(50% + 333.5px);
}
.sustainability8 {
  position: absolute;
  top: calc(50% - 52px);
  right: 57px;
}
.attractions-help-centre5 {
  position: absolute;
  top: calc(50% + 15px);
  left: 0;
}
.bespeak-for-business5 {
  left: calc(50% - 491.5px);
}
.become-affiliate5,
.bespeak-for-business5,
.press-center8 {
  position: absolute;
  top: calc(50% + 15px);
}
.become-affiliate5 {
  left: calc(50% + 333.5px);
}
.press-center8 {
  right: 70px;
}
.safety-resource-center8 {
  position: absolute;
  top: calc(50% + 82px);
  left: 0;
}
.msa-statement8 {
  position: absolute;
  top: calc(50% + 15px);
  left: calc(50% - 45.5px);
}
.careers8 {
  position: absolute;
  top: calc(50% + 82px);
  right: 127px;
}
.investor-relations8 {
  position: absolute;
  right: 8px;
  bottom: 67px;
}
.corporate-contact8 {
  position: absolute;
  right: -1px;
  bottom: 0;
}
.countries11 {
  position: absolute;
  bottom: 571px;
  left: 73px;
  width: 1739px;
  height: 506px;
}
.mobile-version9,
.your-account9 {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
}
.your-account9 {
  left: 236px;
}
.customer-service-help12,
.make-changes-to9 {
  position: absolute;
  top: 0;
  left: calc(50% - 359.5px);
  text-decoration: underline;
}
.customer-service-help12 {
  left: calc(50% + 156.5px);
}
.bespeakcom-for-business9 {
  position: absolute;
  top: 0;
  right: -1px;
  text-decoration: underline;
}
.links9 {
  position: absolute;
  width: calc(100% - 307.5px);
  right: 216.5px;
  bottom: 18px;
  left: 91px;
  height: 37px;
}
.list-your-property-child6 {
  position: absolute;
  width: calc(100% + 1.5px);
  top: calc(50% + 6px);
  right: 0;
  left: -1.5px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  height: 4px;
}
.list-your-property35 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: 25px;
}
.list-your-property34 {
  position: absolute;
  top: 16px;
  left: calc(50% - 133.25px);
  border-radius: var(--br-5xs);
  background-color: var(--color-darkcyan);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 266px;
  height: 59px;
}
.list-your-property33 {
  position: absolute;
  top: 4535px;
  left: 0;
  background-color: var(--color-darkturquoise);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920.5px;
  height: 167px;
  color: var(--color-white);
}
.privacy-statement9 {
  text-decoration: underline;
  color: var(--color-blue);
}
.you-can-opt-container9 {
  position: absolute;
  bottom: 6px;
  left: calc(50% - 316px);
  font-weight: 300;
}
.your-email-address9 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: 18px;
}
.email9 {
  position: absolute;
  height: 100%;
  width: calc(100% - 218px);
  top: 0;
  right: 218px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.subscribe9 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 59px);
}
.subscribe-btn9 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-cadetblue);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 210px;
  color: var(--color-white);
}
.email-subscribe9 {
  position: absolute;
  top: calc(50% + 41.5px);
  left: calc(50% - 397px);
  width: 731px;
  height: 59px;
  color: var(--color-dimgray);
}
.sign-up-to9 {
  margin: 0;
}
.sign-up-to-container9 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 300;
}
.stay-in-the9 {
  position: absolute;
  top: 0;
  left: calc(50% - 122px);
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  text-align: left;
}
.stay-in-the-know19 {
  position: absolute;
  width: calc(100% - 356px);
  top: 27px;
  right: 178px;
  left: 178px;
  height: 149px;
  text-align: center;
  color: var(--color-gainsboro);
}
.ca5,
.empty5,
.stay-in-the-know18 {
  position: absolute;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.stay-in-the-know18 {
  top: 4232px;
  left: 0;
  background-color: var(--color-darkcyan);
  width: 1920px;
  height: 303px;
  color: var(--color-white);
}
.ca5,
.empty5 {
  background-color: var(--color-dimgray);
  height: 2px;
}
.empty5 {
  top: calc(50% - 287px);
  right: 5px;
  width: 308px;
}
.ca5 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.central-america11 {
  position: absolute;
  top: 0;
  left: 6px;
}
.central-america10 {
  position: absolute;
  top: calc(50% - 331px);
  left: calc(50% + 409.5px);
  width: 207px;
  height: 46px;
  cursor: pointer;
}
.caribbean17 {
  position: absolute;
  top: 0;
  left: 18px;
}
.caribbean15,
.south-america10 {
  position: absolute;
  top: calc(50% - 331px);
  left: calc(50% + 250.5px);
  width: 159px;
  height: 46px;
  cursor: pointer;
}
.south-america10 {
  left: calc(50% + 60.5px);
  width: 190px;
}
.me5 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-teal);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 4px;
}
.middle-east11 {
  position: absolute;
  top: 0;
  left: 8px;
}
.middle-east10 {
  position: absolute;
  top: calc(50% - 333px);
  left: calc(50% - 98.5px);
  width: 159px;
  height: 48px;
}
.ocenia5 {
  position: absolute;
  top: 0;
  left: calc(50% - 38.5px);
}
.oceania10 {
  position: absolute;
  top: calc(50% - 331px);
  left: calc(50% - 257.5px);
  width: 159px;
  height: 46px;
  cursor: pointer;
}
.africa17 {
  position: absolute;
  top: 0;
  left: calc(50% - 35.5px);
}
.africa15 {
  top: calc(50% - 331px);
  left: calc(50% - 416.5px);
  width: 159px;
  height: 46px;
  cursor: pointer;
}
.africa15,
.asia15,
.asia17 {
  position: absolute;
}
.asia17 {
  top: 0;
  left: calc(50% - 24.5px);
}
.asia15 {
  top: calc(50% - 331px);
  left: calc(50% - 575.5px);
  width: 159px;
  height: 46px;
}
.north-america10 {
  position: absolute;
  top: 0;
  left: 1px;
}
.north-america9 {
  position: absolute;
  top: calc(50% - 331px);
  left: 159px;
  width: 195px;
  height: 46px;
  cursor: pointer;
}
.europe17 {
  position: absolute;
  top: 0;
  left: calc(50% - 48.5px);
}
.europe15 {
  position: absolute;
  top: calc(50% - 329px);
  left: 0;
  width: 159px;
  height: 44px;
  cursor: pointer;
}
.find-things-to5 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.explore-more-destinations11 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-16xl);
}
.dubai-icon,
.explore-more-destinations10 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 522px;
  height: 119px;
}
.dubai-icon {
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  max-height: 100%;
  width: 440px;
  object-fit: cover;
}
.abu-dhabi-icon {
  left: calc(50% - 456.5px);
}
.abu-dhabi-icon,
.amman-icon,
.muscat-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-base);
  max-height: 100%;
  width: 440px;
  object-fit: cover;
}
.amman-icon {
  left: calc(50% + 16.5px);
}
.muscat-icon {
  right: 0;
}
.row-117 {
  top: calc(50% - 260px);
}
.row-117,
.row-215,
.row-315 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 240px;
}
.row-215 {
  top: calc(50% - 0px);
}
.row-315 {
  bottom: 0;
}
.explore-more-destinantions5 {
  position: absolute;
  top: 2997px;
  left: 42px;
  width: 1859px;
  height: 1000px;
}
.bespeaks-global-customer-container5,
.support-when-you5 {
  position: absolute;
  top: 49px;
  left: 86px;
}
.support-when-you5 {
  top: 4px;
  font-size: var(--font-size-12xl);
}
.cs-icon5,
.support11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}
.support11 {
  height: 33.83%;
  width: 27.71%;
  top: 37.13%;
  right: 4.79%;
  bottom: 29.04%;
  left: 67.5%;
}
.book-tickets-online-container5,
.fast-and-flexible5 {
  position: absolute;
  top: 45px;
  left: 83px;
}
.fast-and-flexible5 {
  top: 0;
  font-size: var(--font-size-12xl);
}
.calendar-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 64.1px;
  object-fit: cover;
}
.fast5 {
  position: absolute;
  height: 32.63%;
  width: 26.41%;
  top: 38.32%;
  right: 36.77%;
  bottom: 29.04%;
  left: 36.82%;
}
.experience-the-best-container5,
.explore-top-attractions5 {
  position: absolute;
  top: 49px;
  left: 84px;
}
.explore-top-attractions5 {
  top: 4px;
  font-size: var(--font-size-12xl);
}
.image-4-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 71px;
  object-fit: cover;
}
.explore5 {
  position: absolute;
  height: 33.83%;
  width: 29.06%;
  top: 37.13%;
  right: 67.6%;
  bottom: 29.04%;
  left: 3.33%;
}
.weve-got-you5 {
  position: absolute;
  top: 37px;
  left: 73px;
  font-size: var(--font-size-19xl);
}
.weve-got-you-covered5 {
  position: absolute;
  top: 2393px;
  left: 0;
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920px;
  height: 334px;
  font-size: var(--font-size-7xl);
}
.sign-in-to6,
.your-bespeak-account5 {
  position: absolute;
  top: calc(50% - 89.5px);
  left: 63px;
}
.your-bespeak-account5 {
  top: calc(50% - 44.5px);
  font-size: var(--font-size-11xl);
}
.sign-in-now6 {
  position: absolute;
  top: 7px;
  left: 20px;
}
.sign-in13,
.sign-in14 {
  position: absolute;
  background-color: var(--color-white);
  box-sizing: border-box;
}
.sign-in14 {
  top: calc(50% + 31.5px);
  left: 63px;
  border-radius: var(--br-smi);
  border: 1px solid var(--color-lightseagreen);
  width: 170px;
  height: 49px;
  font-size: var(--font-size-9xl);
  color: var(--color-lightseagreen);
}
.sign-in13 {
  top: 2040px;
  left: 51px;
  border-radius: var(--br-2xl);
  border: 1px solid var(--color-dimgray);
  width: 1818px;
  height: 261px;
  font-size: var(--font-size-16xl);
}
.search-low-prices8 {
  position: absolute;
  width: calc(100% - 20px);
  right: 20px;
  bottom: 0;
  left: 0;
  height: 92px;
}
.attractions-activities-and-ex-container5 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
}
.find-your-next-stay7 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 186px;
  font-size: var(--font-size-61xl);
}
.body-1-content8 {
  position: absolute;
  top: calc(50% - 121px);
  left: 123px;
  width: 1119px;
  height: 309px;
}
.body-18 {
  position: absolute;
  top: 94px;
  left: 1px;
  background: linear-gradient(103.63deg, #359d70, #75b86b);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1919px;
  height: 800px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-bookman-old-style);
}
.paris-2384-things-to-container5 {
  position: absolute;
  bottom: 24px;
  left: 32px;
}
.paris10 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 581px;
  height: 276px;
  background-image: url(./public/paris1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.las-vegas-688-things-container5 {
  position: absolute;
  bottom: 24px;
  left: 43px;
}
.las-vegas10 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 290.5px);
  width: 581px;
  height: 276px;
  background-image: url(./public/las-vegas@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.new-york-1343-things-container5,
.new-york10 {
  position: absolute;
  bottom: 24px;
  left: 41px;
}
.new-york10 {
  bottom: 0;
  left: 0;
  width: 581px;
  height: 276px;
  background-image: url(./public/new-york@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.instanbul-950-things-to-container5 {
  position: absolute;
  bottom: 15px;
  left: 40px;
}
.instanbul10 {
  position: absolute;
  top: 71px;
  right: 0;
  width: 581px;
  height: 276px;
  background-image: url(./public/instanbul1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.london-1966-things-to-container5 {
  position: absolute;
  bottom: 15px;
  left: 45px;
}
.london10 {
  position: absolute;
  top: 71px;
  left: calc(50% - 290.5px);
  width: 581px;
  height: 276px;
  background-image: url(./public/london1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.dubai-3385-things-to-container5 {
  position: absolute;
  bottom: 15px;
  left: 32px;
}
.dubai10 {
  position: absolute;
  top: 71px;
  left: 0;
  width: 581px;
  height: 276px;
  background-image: url(./public/dubai@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.top-destinations11 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
}
.top-destinations10 {
  position: absolute;
  top: 1034px;
  left: 73px;
  width: 1797px;
  height: 662px;
  color: var(--color-white);
}
.search12 {
  position: absolute;
  top: calc(50% - 22.98px);
  left: calc(50% - 75px);
  font-weight: 700;
}
.search-btn7 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-12xl);
  background: linear-gradient(
    98.03deg,
    #081303,
    #46a498 74.46%,
    #4bb1a5 87.44%,
    #66f0e6
  );
  border: 10px solid var(--color-burlywood-100);
  box-sizing: border-box;
  width: 230px;
  color: var(--color-white);
  font-family: var(--font-bookman-old-style);
}
.select-your-dates11 {
  position: absolute;
  top: 0;
  right: -1px;
}
.calendar-icon16 {
  position: absolute;
  height: calc(100% - 5.7px);
  top: 2px;
  bottom: 3.7px;
  left: 0;
  max-height: 100%;
  width: 29.7px;
  object-fit: cover;
}
.select-your-dates10 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% + 28.5px);
  width: 249px;
  height: 37px;
  font-size: var(--font-size-11xl);
}
.body-search-child3 {
  position: absolute;
  height: calc(100% - 19px);
  top: 9.1px;
  bottom: 9.9px;
  left: calc(50% - 1px);
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
}
.where-are-you6,
.x7 {
  position: absolute;
  right: -1px;
}
.x7 {
  top: 5px;
}
.where-are-you6 {
  bottom: 3px;
}
.image-4-icon11 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 48px;
  object-fit: cover;
}
.where-are-you-going5 {
  position: absolute;
  height: calc(100% - 2px);
  top: 0;
  bottom: 2px;
  left: 0;
  width: 336px;
  font-size: var(--font-size-11xl);
}
.search-left5 {
  position: absolute;
  top: calc(50% - 27.5px);
  left: 29px;
  width: 818px;
  height: 51px;
  font-size: var(--font-size-19xl);
}
.body-search8 {
  position: absolute;
  top: 845px;
  left: 107px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 10px solid var(--color-burlywood-200);
  box-sizing: border-box;
  width: 1721px;
  height: 131px;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray);
}
.ngn22 {
  position: absolute;
  top: 0;
  left: calc(50% - 64px);
}
.image-2-icon8 {
  left: calc(50% + 28px);
  border-radius: var(--br-smi);
  width: 43px;
  object-fit: cover;
}
.image-2-icon8,
.question-circle-o-icon9,
.user-circle-icon9 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  max-height: 100%;
}
.user-circle-icon9 {
  right: -0.02px;
  width: 46.2px;
}
.question-circle-o-icon9 {
  left: 0;
  width: 43.7px;
}
.side-nav9 {
  position: absolute;
  top: 0;
  right: 0;
  width: 284px;
  height: 42px;
}
.header19 {
  position: absolute;
  bottom: 1px;
  left: 145px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1384px;
  height: 74px;
}
.tab1-icon9 {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 1.6px);
  top: -0.5px;
  right: -1.1px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stays19 {
  position: absolute;
  top: 9px;
  left: calc(50% - 38.24px);
}
.bed-icon9 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: 14.19px;
  width: 47.7px;
  height: 36px;
}
.stays18 {
  position: absolute;
  height: calc(100% - 1px);
  top: 0;
  bottom: 1px;
  left: 0;
  width: 222.2px;
}
.tab2-icon9 {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 2.2px);
  top: -0.5px;
  right: -1.7px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flights20 {
  position: absolute;
  top: 10px;
  left: calc(50% - 28.15px);
}
.plane-icon10 {
  position: absolute;
  top: calc(50% - 18.3px);
  left: calc(50% - 106.15px);
  width: 66px;
  height: 41.1px;
}
.flights19 {
  position: absolute;
  height: calc(100% - 1.4px);
  top: 0;
  bottom: 1.4px;
  left: 163.86px;
  width: 304.3px;
}
.tab3-icon9 {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 2.4px);
  top: -0.5px;
  right: -1.9px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.car-rentals20 {
  position: absolute;
  top: 10px;
  right: 55.5px;
}
.car-sport-sharp-icon9 {
  position: absolute;
  top: calc(50% - 19.55px);
  left: calc(50% - 130.44px);
  width: 63.7px;
  height: 41.6px;
}
.car-rentals19 {
  position: absolute;
  height: calc(100% - 3.5px);
  top: 0;
  bottom: 3.5px;
  left: calc(50% - 292.09px);
  width: 401.5px;
}
.tab4-icon9 {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 2.3px);
  top: -0.5px;
  right: -1.8px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attractions20 {
  position: absolute;
  top: 8px;
  right: 51.35px;
}
.image-3-icon9 {
  position: absolute;
  height: calc(100% - 22.5px);
  top: 11px;
  bottom: 11.5px;
  left: calc(50% - 123.6px);
  max-height: 100%;
  width: 48px;
  object-fit: cover;
}
.attractions19 {
  position: absolute;
  height: calc(100% - 3.5px);
  top: 0;
  bottom: 3.5px;
  left: calc(50% + 40.76px);
  width: 369.5px;
}
.airport-taxis20 {
  position: absolute;
  top: calc(50% - 24.5px);
  right: 8px;
}
.taxi-icon9 {
  position: absolute;
  top: calc(50% - 18.24px);
  left: calc(50% - 108px);
  width: 53.5px;
  height: 33px;
  object-fit: cover;
}
.airport-taxis19 {
  height: 100%;
  top: 0;
  right: 0.04px;
  width: 344px;
  font-size: var(--font-size-21xl);
}
.airport-taxis19,
.nav-bar9,
.nav-content9 {
  position: absolute;
  bottom: 0;
}
.nav-content9 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.nav-bar9 {
  left: 146.14px;
  width: 1379.9px;
  height: 75px;
  font-size: var(--font-size-26xl);
  color: var(--color-teal);
}
.header18 {
  position: absolute;
  top: 26px;
  left: 38px;
  width: 1845px;
  height: 106px;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
}
.attractions-me {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5819px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-calibri);
}
