.attractions-ca-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-teal);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920px;
  height: 94px;
}
.bespeakcom-is-part12,
.copyright-2024-202412 {
  position: absolute;
  bottom: 214px;
  left: 364px;
  font-weight: 300;
}
.copyright-2024-202412 {
  bottom: 325px;
  left: 73px;
}
.discover8,
.support16 {
  position: absolute;
  top: 0;
}
.support16 {
  left: 0;
}
.discover8 {
  left: calc(50% - 491.5px);
}
.terms-and-settings8 {
  left: calc(50% - 45.5px);
}
.about9,
.partners9,
.terms-and-settings8 {
  position: absolute;
  top: 0;
}
.partners9 {
  left: calc(50% + 333.5px);
}
.about9 {
  right: 142px;
}
.coronavirus-covid-198 {
  position: absolute;
  top: 67px;
  left: 0;
}
.genius-loyalty-programme8 {
  position: absolute;
  top: 67px;
  left: calc(50% - 491.5px);
}
.extranet-login11,
.privacy-cookies8 {
  position: absolute;
  top: 67px;
  left: calc(50% - 45.5px);
}
.extranet-login11 {
  left: calc(50% + 333.5px);
}
.about-bespeak11 {
  position: absolute;
  top: 67px;
  right: 36px;
}
.faqs8,
.seasonal-and-holiday11 {
  position: absolute;
  top: calc(50% - 119px);
}
.faqs8 {
  left: 0;
}
.seasonal-and-holiday11 {
  left: calc(50% - 491.5px);
}
.terms-and-conditions8 {
  left: calc(50% - 45.5px);
}
.how-we-work12,
.partner-help11,
.terms-and-conditions8 {
  position: absolute;
  top: calc(50% - 119px);
}
.partner-help11 {
  left: calc(50% + 333.5px);
}
.how-we-work12 {
  right: 52px;
}
.manage-your-trips8 {
  position: absolute;
  top: calc(50% - 52px);
  left: 0;
}
.travel-articles8 {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 491.5px);
}
.list-your-property44,
.partner-dispute11 {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 45.5px);
}
.list-your-property44 {
  left: calc(50% + 333.5px);
}
.sustainability11 {
  position: absolute;
  top: calc(50% - 52px);
  right: 57px;
}
.attractions-help-centre8 {
  position: absolute;
  top: calc(50% + 15px);
  left: 0;
}
.bespeak-for-business8 {
  left: calc(50% - 491.5px);
}
.become-affiliate8,
.bespeak-for-business8,
.press-center11 {
  position: absolute;
  top: calc(50% + 15px);
}
.become-affiliate8 {
  left: calc(50% + 333.5px);
}
.press-center11 {
  right: 70px;
}
.safety-resource-center11 {
  position: absolute;
  top: calc(50% + 82px);
  left: 0;
}
.msa-statement11 {
  position: absolute;
  top: calc(50% + 15px);
  left: calc(50% - 45.5px);
}
.careers11 {
  position: absolute;
  top: calc(50% + 82px);
  right: 127px;
}
.investor-relations11 {
  position: absolute;
  right: 8px;
  bottom: 67px;
}
.corporate-contact11 {
  position: absolute;
  right: -1px;
  bottom: 0;
}
.countries14 {
  position: absolute;
  bottom: 572px;
  left: 73px;
  width: 1739px;
  height: 506px;
}
.mobile-version12,
.your-account12 {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
}
.your-account12 {
  left: 236px;
}
.customer-service-help15,
.make-changes-to12 {
  position: absolute;
  top: 0;
  left: calc(50% - 359.5px);
  text-decoration: underline;
}
.customer-service-help15 {
  left: calc(50% + 156.5px);
}
.bespeakcom-for-business12 {
  position: absolute;
  top: 0;
  right: -1px;
  text-decoration: underline;
}
.links12 {
  position: absolute;
  width: calc(100% - 307.5px);
  right: 216.5px;
  bottom: 18px;
  left: 91px;
  height: 37px;
}
.list-your-property-child9 {
  position: absolute;
  width: calc(100% + 1.5px);
  top: calc(50% + 6px);
  right: 0;
  left: -1.5px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  height: 4px;
}
.list-your-property47 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: 25px;
}
.list-your-property46 {
  position: absolute;
  top: 16px;
  left: calc(50% - 133.25px);
  border-radius: var(--br-5xs);
  background-color: var(--color-darkcyan);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 266px;
  height: 59px;
}
.list-your-property45 {
  position: absolute;
  top: 3988px;
  left: 0;
  background-color: var(--color-darkturquoise);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920.5px;
  height: 167px;
  color: var(--color-white);
}
.privacy-statement12 {
  text-decoration: underline;
  color: var(--color-blue);
}
.you-can-opt-container12 {
  position: absolute;
  bottom: 6px;
  left: calc(50% - 316px);
  font-weight: 300;
}
.your-email-address12 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: 18px;
}
.email12 {
  position: absolute;
  height: 100%;
  width: calc(100% - 218px);
  top: 0;
  right: 218px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.subscribe12 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 59px);
}
.subscribe-btn12 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-cadetblue);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 210px;
  color: var(--color-white);
}
.email-subscribe12 {
  position: absolute;
  top: calc(50% + 41.5px);
  left: calc(50% - 397px);
  width: 731px;
  height: 59px;
  color: var(--color-dimgray);
}
.sign-up-to12 {
  margin: 0;
}
.sign-up-to-container12 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 300;
}
.stay-in-the12 {
  position: absolute;
  top: 0;
  left: calc(50% - 122px);
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  text-align: left;
}
.stay-in-the-know25 {
  position: absolute;
  width: calc(100% - 356px);
  top: 27px;
  right: 178px;
  left: 178px;
  height: 149px;
  text-align: center;
  color: var(--color-gainsboro);
}
.ca8,
.empty8,
.stay-in-the-know24 {
  position: absolute;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
}
.stay-in-the-know24 {
  top: 3685px;
  left: 0;
  background-color: var(--color-darkcyan);
  width: 1920px;
  height: 303px;
  color: var(--color-white);
}
.ca8,
.empty8 {
  right: 0;
}
.empty8 {
  top: calc(50% - 27px);
  background-color: var(--color-dimgray);
  width: 308px;
  height: 2px;
}
.ca8 {
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--color-teal);
  height: 4px;
}
.central-america17 {
  position: absolute;
  top: 0;
  left: 6px;
}
.central-america16 {
  position: absolute;
  top: calc(50% - 73px);
  left: calc(50% + 412px);
  width: 207px;
  height: 48px;
}
.caribbean25 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dimgray);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  height: 2px;
}
.caribbean26 {
  position: absolute;
  top: 0;
  left: 18px;
}
.caribbean24,
.south-america16 {
  position: absolute;
  top: calc(50% - 71px);
  height: 46px;
}
.caribbean24 {
  left: calc(50% + 253px);
  width: 159px;
  cursor: pointer;
}
.south-america16 {
  left: calc(50% + 63px);
  width: 190px;
}
.middle-east17 {
  position: absolute;
  top: 0;
  left: 8px;
}
.middle-east16 {
  position: absolute;
  top: calc(50% - 71px);
  left: calc(50% - 96px);
  width: 159px;
  height: 46px;
}
.ocenia8 {
  position: absolute;
  top: 0;
  left: calc(50% - 38.5px);
}
.oceania16 {
  position: absolute;
  top: calc(50% - 71px);
  left: calc(50% - 255px);
  width: 159px;
  height: 46px;
}
.africa26 {
  position: absolute;
  top: 0;
  left: calc(50% - 35.5px);
}
.africa24 {
  top: calc(50% - 71px);
  left: calc(50% - 414px);
  width: 159px;
  height: 46px;
}
.africa24,
.asia24,
.asia26 {
  position: absolute;
}
.asia26 {
  top: 0;
  left: calc(50% - 24.5px);
}
.asia24 {
  top: calc(50% - 71px);
  left: calc(50% - 573px);
  width: 159px;
  height: 46px;
}
.north-america16 {
  position: absolute;
  top: 0;
  left: 1px;
}
.north-america15 {
  position: absolute;
  top: calc(50% - 71px);
  left: 159px;
  width: 195px;
  height: 46px;
  cursor: pointer;
}
.europe26 {
  position: absolute;
  top: 0;
  left: calc(50% - 48.5px);
}
.europe24 {
  position: absolute;
  top: calc(50% - 69px);
  left: 0;
  width: 159px;
  height: 44px;
  cursor: pointer;
}
.find-things-to8 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.explore-more-destinations17 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-16xl);
}
.explore-more-destinations16 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 522px;
  height: 119px;
}
.row-120 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  width: 440px;
  height: 240px;
  background-image: url(./public/row-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.explore-more-destinantions8 {
  position: absolute;
  top: 2997px;
  left: 42px;
  width: 1854px;
  height: 480px;
}
.bespeaks-global-customer-container8,
.support-when-you8 {
  position: absolute;
  top: 49px;
  left: 86px;
}
.support-when-you8 {
  top: 4px;
  font-size: var(--font-size-12xl);
}
.cs-icon8,
.support17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}
.support17 {
  height: 33.83%;
  width: 27.71%;
  top: 37.13%;
  right: 4.79%;
  bottom: 29.04%;
  left: 67.5%;
}
.book-tickets-online-container8,
.fast-and-flexible8 {
  position: absolute;
  top: 45px;
  left: 83px;
}
.fast-and-flexible8 {
  top: 0;
  font-size: var(--font-size-12xl);
}
.calendar-icon21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 64.1px;
  object-fit: cover;
}
.fast8 {
  position: absolute;
  height: 32.63%;
  width: 26.41%;
  top: 38.32%;
  right: 36.77%;
  bottom: 29.04%;
  left: 36.82%;
}
.experience-the-best-container8,
.explore-top-attractions8 {
  position: absolute;
  top: 49px;
  left: 84px;
}
.explore-top-attractions8 {
  top: 4px;
  font-size: var(--font-size-12xl);
}
.image-4-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 71px;
  object-fit: cover;
}
.explore8 {
  position: absolute;
  height: 33.83%;
  width: 29.06%;
  top: 37.13%;
  right: 67.6%;
  bottom: 29.04%;
  left: 3.33%;
}
.weve-got-you8 {
  position: absolute;
  top: 37px;
  left: 73px;
  font-size: var(--font-size-19xl);
}
.weve-got-you-covered8 {
  position: absolute;
  top: 2393px;
  left: 0;
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1920px;
  height: 334px;
  font-size: var(--font-size-7xl);
}
.sign-in-to9,
.your-bespeak-account8 {
  position: absolute;
  top: calc(50% - 89.5px);
  left: 63px;
}
.your-bespeak-account8 {
  top: calc(50% - 44.5px);
  font-size: var(--font-size-11xl);
}
.sign-in-now9 {
  position: absolute;
  top: 7px;
  left: 20px;
}
.sign-in19,
.sign-in20 {
  position: absolute;
  background-color: var(--color-white);
  box-sizing: border-box;
}
.sign-in20 {
  top: calc(50% + 31.5px);
  left: 63px;
  border-radius: var(--br-smi);
  border: 1px solid var(--color-lightseagreen);
  width: 170px;
  height: 49px;
  font-size: var(--font-size-9xl);
  color: var(--color-lightseagreen);
}
.sign-in19 {
  top: 2040px;
  left: 51px;
  border-radius: var(--br-2xl);
  border: 1px solid var(--color-dimgray);
  width: 1818px;
  height: 261px;
  font-size: var(--font-size-16xl);
}
.search-low-prices11 {
  position: absolute;
  width: calc(100% - 20px);
  right: 20px;
  bottom: 0;
  left: 0;
  height: 92px;
}
.attractions-activities-and-ex-container8 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
}
.find-your-next-stay10 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 186px;
  font-size: var(--font-size-61xl);
}
.body-1-content11 {
  position: absolute;
  top: calc(50% - 121px);
  left: 123px;
  width: 1119px;
  height: 309px;
}
.body-111 {
  position: absolute;
  top: 94px;
  left: 1px;
  background: linear-gradient(103.63deg, #359d70, #75b86b);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1919px;
  height: 800px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-bookman-old-style);
}
.paris-2384-things-to-container8 {
  position: absolute;
  bottom: 24px;
  left: 32px;
}
.paris16 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 581px;
  height: 276px;
  background-image: url(./public/paris1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.las-vegas-688-things-container8 {
  position: absolute;
  bottom: 24px;
  left: 43px;
}
.las-vegas16 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 290.5px);
  width: 581px;
  height: 276px;
  background-image: url(./public/las-vegas@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.new-york-1343-things-container8,
.new-york16 {
  position: absolute;
  bottom: 24px;
  left: 41px;
}
.new-york16 {
  bottom: 0;
  left: 0;
  width: 581px;
  height: 276px;
  background-image: url(./public/new-york@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.instanbul-950-things-to-container8 {
  position: absolute;
  bottom: 15px;
  left: 40px;
}
.instanbul16 {
  position: absolute;
  top: 71px;
  right: 0;
  width: 581px;
  height: 276px;
  background-image: url(./public/instanbul1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.london-1966-things-to-container8 {
  position: absolute;
  bottom: 15px;
  left: 45px;
}
.london16 {
  position: absolute;
  top: 71px;
  left: calc(50% - 290.5px);
  width: 581px;
  height: 276px;
  background-image: url(./public/london1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.dubai-3385-things-to-container8 {
  position: absolute;
  bottom: 15px;
  left: 32px;
}
.dubai16 {
  position: absolute;
  top: 71px;
  left: 0;
  width: 581px;
  height: 276px;
  background-image: url(./public/dubai@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.top-destinations17 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
}
.top-destinations16 {
  position: absolute;
  top: 1034px;
  left: 73px;
  width: 1797px;
  height: 662px;
  color: var(--color-white);
}
.search15 {
  position: absolute;
  top: calc(50% - 22.98px);
  left: calc(50% - 75px);
  font-weight: 700;
}
.search-btn10 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-12xl);
  background: linear-gradient(
    98.03deg,
    #081303,
    #46a498 74.46%,
    #4bb1a5 87.44%,
    #66f0e6
  );
  border: 10px solid var(--color-burlywood-100);
  box-sizing: border-box;
  width: 230px;
  color: var(--color-white);
  font-family: var(--font-bookman-old-style);
}
.select-your-dates17 {
  position: absolute;
  top: 0;
  right: -1px;
}
.calendar-icon22 {
  position: absolute;
  height: calc(100% - 5.7px);
  top: 2px;
  bottom: 3.7px;
  left: 0;
  max-height: 100%;
  width: 29.7px;
  object-fit: cover;
}
.select-your-dates16 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% + 28.5px);
  width: 249px;
  height: 37px;
  font-size: var(--font-size-11xl);
}
.body-search-child6 {
  position: absolute;
  height: calc(100% - 19px);
  top: 9.1px;
  bottom: 9.9px;
  left: calc(50% - 1px);
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
}
.where-are-you9,
.x10 {
  position: absolute;
  right: -1px;
}
.x10 {
  top: 5px;
}
.where-are-you9 {
  bottom: 3px;
}
.image-4-icon17 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 48px;
  object-fit: cover;
}
.where-are-you-going8 {
  position: absolute;
  height: calc(100% - 2px);
  top: 0;
  bottom: 2px;
  left: 0;
  width: 336px;
  font-size: var(--font-size-11xl);
}
.search-left8 {
  position: absolute;
  top: calc(50% - 27.5px);
  left: 29px;
  width: 818px;
  height: 51px;
  font-size: var(--font-size-19xl);
}
.body-search11 {
  position: absolute;
  top: 845px;
  left: 107px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 10px solid var(--color-burlywood-200);
  box-sizing: border-box;
  width: 1721px;
  height: 131px;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray);
}
.ngn25 {
  position: absolute;
  top: 0;
  left: calc(50% - 64px);
}
.image-2-icon11 {
  left: calc(50% + 28px);
  border-radius: var(--br-smi);
  width: 43px;
  object-fit: cover;
}
.image-2-icon11,
.question-circle-o-icon12,
.user-circle-icon12 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  max-height: 100%;
}
.user-circle-icon12 {
  right: -0.02px;
  width: 46.2px;
}
.question-circle-o-icon12 {
  left: 0;
  width: 43.7px;
}
.side-nav12 {
  position: absolute;
  top: 0;
  right: 0;
  width: 284px;
  height: 42px;
}
.header25 {
  position: absolute;
  bottom: 1px;
  left: 145px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1384px;
  height: 74px;
}
.tab1-icon12 {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 1.6px);
  top: -0.5px;
  right: -1.1px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stays25 {
  position: absolute;
  top: 9px;
  left: calc(50% - 38.24px);
}
.bed-icon12 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: 14.19px;
  width: 47.7px;
  height: 36px;
}
.stays24 {
  position: absolute;
  height: calc(100% - 1px);
  top: 0;
  bottom: 1px;
  left: 0;
  width: 222.2px;
}
.tab2-icon12 {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 2.2px);
  top: -0.5px;
  right: -1.7px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flights26 {
  position: absolute;
  top: 10px;
  left: calc(50% - 28.15px);
}
.plane-icon13 {
  position: absolute;
  top: calc(50% - 18.3px);
  left: calc(50% - 106.15px);
  width: 66px;
  height: 41.1px;
}
.flights25 {
  position: absolute;
  height: calc(100% - 1.4px);
  top: 0;
  bottom: 1.4px;
  left: 163.86px;
  width: 304.3px;
}
.tab3-icon12 {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 2.4px);
  top: -0.5px;
  right: -1.9px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.car-rentals26 {
  position: absolute;
  top: 10px;
  right: 55.5px;
}
.car-sport-sharp-icon12 {
  position: absolute;
  top: calc(50% - 19.55px);
  left: calc(50% - 130.44px);
  width: 63.7px;
  height: 41.6px;
}
.car-rentals25 {
  position: absolute;
  height: calc(100% - 3.5px);
  top: 0;
  bottom: 3.5px;
  left: calc(50% - 292.09px);
  width: 401.5px;
}
.tab4-icon12 {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 2.3px);
  top: -0.5px;
  right: -1.8px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attractions26 {
  position: absolute;
  top: 8px;
  right: 51.35px;
}
.image-3-icon12 {
  position: absolute;
  height: calc(100% - 22.5px);
  top: 11px;
  bottom: 11.5px;
  left: calc(50% - 123.6px);
  max-height: 100%;
  width: 48px;
  object-fit: cover;
}
.attractions25 {
  position: absolute;
  height: calc(100% - 3.5px);
  top: 0;
  bottom: 3.5px;
  left: calc(50% + 40.76px);
  width: 369.5px;
}
.airport-taxis26 {
  position: absolute;
  top: calc(50% - 24.5px);
  right: 8px;
}
.taxi-icon12 {
  position: absolute;
  top: calc(50% - 18.24px);
  left: calc(50% - 108px);
  width: 53.5px;
  height: 33px;
  object-fit: cover;
}
.airport-taxis25,
.nav-content12 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.airport-taxis25 {
  right: 0.04px;
  width: 344px;
  font-size: var(--font-size-21xl);
}
.nav-content12 {
  width: 100%;
  right: 0;
  left: 0;
}
.nav-bar12 {
  position: absolute;
  bottom: 0;
  left: 146.14px;
  width: 1379.9px;
  height: 75px;
  font-size: var(--font-size-26xl);
  color: var(--color-teal);
}
.header24 {
  position: absolute;
  top: 26px;
  left: 38px;
  width: 1845px;
  height: 106px;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
}
.attractions-ca {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5273px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-calibri);
}
